.review {
    height: 450px;
    width: 300px;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

.review img {
    height: 50px;
    width: 50px;

}

.user_name,
.rating,
.book {
    font-weight: bold;
}