
/* .dashboard-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
} */
.dashboard-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}